.sidebar {
  background-color: #F3B240;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  width: 19vw;
}

.logoSidebar {
  width:90%;
  margin-bottom: 2em;
}

.btn {
  background-color: #F3B240;
  border: none;
  cursor: pointer;
  font-size: 0.6em;
  height: 2em;
  margin-bottom: .8em;
  width: 6em;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1em;
}

@media (min-width: 768px) {
  .sidebar {
    width: 15em;
  }
  
  .logoSidebar {
    width: 10em;
    margin-bottom: 4em;
  }
  
  .btn {
    font-size: 1.5em;
    font-weight: 500; 
    width: 9em;
    height: 2.3em;
  }
}