.admin {
  display: flex;
}

.sidebar {
  width: 10%;
  position: fixed;
  top: 0;
  bottom: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 15%;
  overflow-x: hidden;
}

/* .adminOutlet {
  height: 80vh;
} */

.welcome {
  margin-top: 8em;
}

@media (min-width: 540px) {
  .sidebar{
    width: 10%;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1900px) {
  .main {
    width: 86%;
    margin-left: 10%;
  } 
}
