.admin {
  display: flex;
}

.sidebar{
  width: 15%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.adminOutlet {
  margin-left: 1em;
}

@media (min-width: 540px) {
  .sidebar{
    width: 18%;
  }
}

@media (min-width: 1280px) {
  .main {
    width: 80%;
  } 
}

@media (min-width: 1900px) {
  .main {
    width: 86%;
  } 
}
