.staff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin-top: 9em;
}

.main {
  display:flex;
}

@media (min-width: 768px) {
  .main {
    display:flex;
    justify-content: center;
    margin-top: 1em;
    padding: 0 2em;
  }
  .staffBtnContainer {
    margin-left: 2.2em;
    margin-top: 1em;
  }
}

@media (min-width: 1000px) {
  .staff {
    margin-top: 6em;
  }
}

@media (min-width: 1280px) {
  .main {
    display:flex;
    justify-content: center;
    margin-top: 1em;
    padding: 0 5em;
  }
}
